.small-table {
    font-size: 12px;
}

.small-table th,
.small-table td {
    padding: 8px;
    /* Adjust as needed for spacing */
}

.pcbUnit {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pcbUnit>img {
    height: 200px;
    padding: 7px;
    border-radius: 10px;
}

.pcbUnit>.card-body>h5 {
    color: #06bbcc;
}